<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-success">new recipe</button>
  </div>
  <hr>
  <div class="col-sm-12">
    <a
      href="#"
      class="list-group-item clearfix"
      *ngFor="let recipe of recipes">
      <div>
        <h4 class="list-group-item-heading">{{recipe.name}}</h4>
        <p class="list-group-item-text">{{recipe.description}}</p>
        <span class="float-right">
          <img [src]="recipe.imgPath" [alt]="recipe.name" class="img-fluid" style="max-height: 50px!important;">
        </span>
      </div>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
