<div class="row">
  <div class="col-sm-12">
    <img [src]="recipeReceived.imgPath"
         [alt]="recipeReceived.imgPath"
         class="img-fluid">
  </div>
    <div class="col-sm-12">
      <h1>{{recipeReceived.name}}</h1>
    </div>
    <div class="col-sm-12">
      <div class="btn-group">
        <div ngbDropdown class="dropdown">
          <button ngbDropdownToggle
                  type="button"
                  class="btn btn-primary dropdown-toggle"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
            Manage Recipe<span class="caret"></span>
          </button>
          <div ngbDropdownMenu
               class="dropdown-menu"
               aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="addToShoppingList()" e>Add ingredients to shopping list</a>
            <a class="dropdown-item" routerLink="edit" >edit recipe</a>
            <a class="dropdown-item" (click)="onDeleteRecipe()">delete recipe</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      {{recipeReceived.description}}
    </div>
  <div class="row">
    <div class="col-sm-12">
      <h4>Ingredients</h4>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let ingredient of recipeReceived.ingredients">
          name: {{ingredient.name}} amount: {{ingredient.amount}}
        </li>
      </ul>
    </div>
  </div>
</div>
